 body {
        background-color: rgb(25, 25, 25);
        color: white;
        font-family: Arial;
      }

      .title {
        font-size: 30px;
        font-weight: bold;
      }

      .move-icon {
        height: 40px;
        
      }

      .move-button {
        background-color: transparent;
        border-radius: 60px;
        border-style: solid;
        border-color: white;
        height: 120px;
        width: 120px;
        border-width: 3px;
        margin-left: 10px;
        cursor: pointer;
      }

      .result {
        font-size: 25px;
        font-weight: bold;
        margin-top: 50px;
      }

      .score {
        margin-top: 60px;
      }

      .reset-score-button {
        background-color: white;
        font-size: 15px;
        padding: 8px 15px;
        cursor: pointer;
      }